body {
    font-family: Arial, sans-serif;
    background: url(https://wallpaperaccess.com/full/8351171.gif);
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

h3 {
    background-color: #ffffff;
    font-size: 25px;
    padding: 20px; /* Adjust the padding as needed */
    border: 2px solid black; /* Add a black border */
}

.top-heading {
    background-color: #1b1919;
    padding: 30px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    margin-bottom: 200px; /* Adjust the margin to create space above the container */
}

.top-heading h1 {
    margin: 0;
    color: #ffffff;
    font-size: 3em;
}
.bottom-heading {
    text-align: center;
    margin-top: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    display: flex; /* Use flexbox to create a horizontal layout */
    justify-content: center; /* Center the items horizontally */
}

.bottom-heading h2 {
    margin: 0 10px;
    display: inline; /* Use inline display for the h2 elements */
}

.bottom-heading a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

.bottom-heading a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: 200px; /* Adjust the margin to create space below the header */
}

h1 {
    margin-bottom: 20px;
}

img {
    max-width: 40%;
    height: auto;
    display: block; /* Center the image */
    margin: 0 auto; /* Center the image horizontally */
    border: 5px solid black; /* Add a black border */
}

header {
    height: 200px;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
