/* invoice.css */

.img-small {
    max-width: 100px; /* Adjust the max-width as needed */
    height: auto;
    position: relative;
    display: inline-block;
}
/* invoice.css */

/* Add styles for the table */
.table {
    border-collapse: collapse;
    width: 100%;
}

.table, th, td {
    border: 1px solid lightgray;
}

th, td {
    padding: 8px;
    text-align: left;
}

/* Apply light gray background to odd rows */
.table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

/* Footer styles */
tfoot td {
    background-color: #f2f2f2; /* Optional: add a light gray background to the footer row */
}

tfoot td[colspan="4"] {
    text-align: right;
}

/* Styles for total and subtotal cells */
#total_cell, #subtotal_cell, #tax_cell, #shipping_cell {
    font-weight: bold;
}
