/* login.css */

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background: url(https://wallpaperaccess.com/full/8351171.gif);
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* Header styles */
.top-heading {
    background-color: #1b1919;
    padding: 30px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    margin-bottom: 100px; /* Adjust the margin to create space above the container */
}

.top-heading h1 {
    margin: 0;
    color: #ffffff;
    font-size: 3em;
}

.bottom-heading {
    text-align: center;
    margin-top: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    display: flex; /* Use flexbox to create a horizontal layout */
    justify-content: center; /* Center the items horizontally */
}

.bottom-heading h2 {
    margin: 0 10px;
    display: inline; /* Use inline display for the h2 elements */
}

.bottom-heading a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

.bottom-heading a:hover {
    text-decoration: underline;
}

/* Container styles */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 400px;
    text-align: center;
    box-sizing: border-box; /* Ensure padding is included in the width */
    margin: 100px auto 0; /* Adjust the top margin to create space for the top heading */
}

/* Additional styles */
.centered-text {
    text-align: center; /* Center the text within the container */
}

h2 {
    margin-bottom: 20px;
    color: #000;
}

.form-group {
    margin-bottom: 15px;
    text-align: left; /* Left-align text within the form-group */
}

.col-form-label {
    font-weight: bold;
}

.btn-primary {
    width: 50%;
    padding: 8px; /* Adjust the padding to make the button smaller */
    background-color: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.btn-primary:hover {
    background-color: #0056b3;
}
